:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #18181b;
  --fg: #f4f4f5;
  --action-fg: #f4f4f5;
  --action-bg: #18181b;
  --disabled-border: #888;
  --disabled-fg: #888;
  --transition-duration: 200ms;
  --backdrop-bg: rgba(0, 0, 0, 0.5);
  --red: #f43f5e;
  --black: #e4e4e7;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100vh;
}

button {
  box-sizing: border-box;

  color: var(--action-fg);
  border: 1px solid var(--action-fg);
  border-radius: 6px;
  background-color: var(--action-bg);
  white-space: pre;

  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;

  transition: box-shadow 333ms ease-in-out, outline 333ms ease-in-out;
  outline: 2px solid transparent;

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[disabled] {
    border: 1px solid var(--disabled-border);
    color: var(--disabled-fg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Left empty on purpose */
  }
}
